<%- include("layouts/header") %>
<div class="container">


        <div class="sub_container1  wow animate__animated animate__backInLeft">
            <img src="/images/edu_ilastration.png ">

            <div class="body-content wow animate__animated animate__heartBeat animate__repeat-2">
                <h1 class=" ">C-Craft Student Activity</h1>
                </br>
                </br>
                <p>It's created by Computer Engineering students at cairo university.</br>
                    </br>
                    We aim to help each other and spread science.</br>
                    We also started with the most important four fields of Computer Engineering Department.
                </p>
            </div>
        </div>
    </div>
    <div class="courses">
        <h1>Our Courses</h1>
        <div class="Embedded wow animate__animated animate__backInDown ">
            <img src="/images/courses\embeded\Embeded.png">
            <div class="Details  wow animate__animated animate__fadeIn animate__repeat-2">
                <h1>Embedded System</h1>
                <p>Details Details Details Details Details Details Details Details Details Details </br>
                    Details Details Details Details Details Details Details Details Details Details</br>
                    Details Details Details Details Details Details Details Details Details Details</p>
                <a href="#"><button>View Course</button></a>
            </div>

        </div>
        <div class="Machine wow animate__animated animate__backInRight ">
            <img src="/images/courses\machine\Machine2.png">
            <div class="Details wow animate__animated animate__fadeInRight animate__repeat-2">
                <h1>Machine learning</h1>
                <p>Details Details Details Details Details Details Details Details Details Details </br>
                    Details Details Details Details Details Details Details Details Details Details</br>
                    Details Details Details Details Details Details Details Details Details Details </p>
                <a href="#"><button>View Course</button></a>
            </div>

        </div>
        <div class="web wow animate__animated animate__backInLeft">
            <img src="/images/courses\web\Web.png ">
            <div class="Details wow animate__animated animate__fadeInLeft animate__repeat-2">
                <h1>Web Development</h1>
                <p>Details Details Details Details Details Details Details Details Details Details</br>
                    Details Details Details Details Details Details Details Details Details Details</br>
                    Details Details Details Details Details Details Details Details Details Details </p>
                <a href="#"><button>View Course</button></a>
            </div>

        </div>
        <div class="Graphics wow animate__animated animate__backInUp ">
            <img src="/images/courses\graphics\Graphics.png">
            <div class="Details wow animate__animated animate__fadeIn animate__repeat-2">
                <h1>3D Graphics</h1>
                <p>
                    Details Details Details Details Details Details Details Details Details Details </br>
                    Details Details Details Details Details Details Details Details Details Details</br>
                    Details Details Details Details Details Details Details Details Details Details</p>
                <a href="#"><button>View Course</button></a>
            </div>

        </div>
    </div>
    <%- include("layouts/footer") %>
