</main>
<footer>
    <div class="card text-center">
        <div class="card-header">
            Footer
        </div>
        <div class="card-body">
            <h5 class="card-title">Visit our YouTube channel</h5>
            <p class="card-text">
                We upload our courses videos in there
            </p>
            <a href="https://www.youtube.com/channel/UCjVModXAzq1uGt8kv_4dMVg" target="_blank" class="btn btn-primary">Click here!</a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>