
<%- include("layouts/header") %>

        <div class="Log-container">

            <div class="log">
                <form action="/login" method="POST">

                    <% if(message.length >0){ %>
                        <div id="alerty" class="alert alert-success">

                       <button id="msg"><%= message %></button> 
                        <button id='close' onclick='this.parentNode.parentNode.removeChild(this.parentNode); return false;'>x</button>
                    </div><br>
                <% } %>

                    <h2>Log in</h2>
                    <div class="username">
                        <input type="text" placeholder="Username"name="username" value="<%= (typeof username !== 'undefined') ? username : '' %>" autocomplete="off"/>
                        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"  " 
                        ></i>
                    </div>
                    <div class="password">
                        <input type="password" placeholder="Password" name="password"/>
                        <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                    <button id="btn" type="submit">Log in </button><br>
                    <small>Don't have an account?
                    <a href="Register">Register</a>
                </small>
                </form>
            </div>
        </div>
        <%- include("layouts/footer") %>