<%- include("layouts/header") %>
<section class="section1">
    <div class="card mb-3">
  <div class="row no-gutters">

      <img src="/images/courses\machine\Machine2.png" class="card-img" alt="">

    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Machine Learning</h2>
        <div class="card-text">
        <ul>    
        <li>
        <big>Instructors :</big> 
        <ul>
            <li class="card-text" style="display:inline"> <img style="margin:5px 5px 5px 0px; "src="/images/instructors/Essam Wissam.jpg" alt=""><h9>Essam Wissam </h9></li>
             <li class="card-text" style="display:inline"> <img style="margin:5px 5px 5px 0px; "src="/images/instructors/Yahia Zakria.jpg" alt=""><h9>Yahia Zakria </h9></li>
             <li class="card-text" style="display:inline"><img style="margin:5px 5px 5px 0px; "src="/images/instructors/Youssef Gamal.jpg" alt=""><h9>Youssef Gamal </h9></li>
        </ul>
        </li>
      </ul>
        <ul>
        <li style="margin-top:10px"><big>Start date : </big>22/6/2020 </li>
        <li style="margin-top:10px" >  <big>End date : </big>31/8/2020 </li>
        <li style="margin-top:10px"><big>Number of Sessions : </big>21 </li>
        <li style="margin-top:10px"> <big>Schedule : </big> Monday and Thursday  </li>
        
        </ul>
       
          <button type="submit" id="enroll"> Enrolled</button>
       
        </div>
   
      </div>
    </div>
  </div>
</div>
</section>
<section class="section2">
<div class="Syllabus">
  <h1>Syllabus</h1>
</div>
<div class="cards123">
  <div class="card text-white bg-primary mb-3" style="width: 23rem;height: 18rem;">
  <div class="card-header">Session <b>1</b></div>
  <div class="card-body">
    <h4 class="card-title">Installing Environment</h4>
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      C Basics
      </li>
      <li>
       Conditions
      </li>
      <li>
      Loops
      </li>
      <li>
      Functions
      </li>
        <li>
        Arrays
      </li>
          <li>
Pointers
      </li>
    </ul>
    </div>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="width: 23rem; height: 18rem;">
  <div class="card-header">Session <b>2</b></div>
  <div class="card-body">
    <h4 class="card-title">Modifiers</h4>
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      User Defined Data Types
      </li>
      <li>
       Preprocessing
      </li>
      <li>
      Dynamic Allocation
      </li>
      <li>
      Some Data Structures
      </li>
    </ul></div>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="width: 23rem;height: 18rem;">
  <div class="card-header">Session <b>3</b></div>
  <div class="card-body">
        <h4 class="card-title">Storage</h4>
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
Volatile and Non-Volatile Memory
      </li>
    </ul></div>
  </div>
</div>
</div>
<div class="cards456">
  <div class="card text-white bg-danger mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>4</b></div>
  <div class="card-body">
        <h4 class="card-title">Embedded Systems Concepts</h4>
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
Inside the Processor
      </li>
      <li>
Insrtuction Set Architecture
      </li>
      <li>
Processor Cycle
      </li>
      <li>
Pipelines
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card text-white bg-warning mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>5</b></div>
  <div class="card-body">
        <h4 class="card-title">Assembly Crash Course</h4>
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      Read Only
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card text-white bg-info mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>6</b></div>
  <div class="card-body">
        <h4 class="card-title">Dealing with DIOs</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Pull down/up connections
      </li>
      <li>
Interfacing with LEDs
      </li>
      <li>
Interfacing with Switches
      </li>
      <li>
Interfacing with 7-SEG
      </li>
    </ul></div>
  </div>
  </div>
  </div>
<div class="cards789">
  <div class="card text-white bg-info mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>7</b></div>
  <div class="card-body">
        <h4 class="card-title">Layered Archeticture</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Microcontroller registers
      </li>
      <li>
Writing GPIO driver
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card bg-light mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>8</b></div>
  <div class="card-body">
        <h4 class="card-title">LCD Interfacing</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
LCD Drivers
      </li>
    </ul></div>
  </div>
  </div>
    <div class="card text-white bg-dark mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>9</b></div>
  <div class="card-body">
        <h4 class="card-title">Keypad Interfacing
</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Keypad Drivers
      </li>
    </ul></div>
  </div>
  </div>
  </div>
  <div class="cards10112">
  <div class="card border-primary mb-3"  style="width: 23rem;">
  <div class="card-header">Session <b>10</b></div>
  <div class="card-body text-primary">
        <h4 class="card-title">Switches</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Transistors
      </li>
      <li>
Relay
      </li>
      <li>
Opto-couplers
      </li>
      <li>
Darlington Pair
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card border-success mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>11</b></div>
  <div class="card-body text-success">
        <h4 class="card-title">Interrupts</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Interrupts Drivers
      </li>
         <li>
      DC Motors
      </li>
         <li>
Stepper Motors
      </li>
    </ul></div>
  </div>
  </div>
    <div class="card border-info mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>12</b></div>
  <div class="card-body text-info">
        <h4 class="card-title">ADC</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
ADC Drivers
      </li>
      <li>
Temperature and Light Sensors Drivers
      </li>
    </ul></div>
  </div>
  </div>
  </div>
  <div class="card13">
  <div class="card border-light mb-3"  style="width: 23rem;">
  <div class="card-header">Session <b>13</b></div>
  <div class="card-body">
        <h4 class="card-title">Timers and Counters</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Timers and Counters Drivers
      </li>
      <li>
Ultrasonic Drivers
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card border-danger mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>14</b></div>
  <div class="card-body text-danger">
        <h4 class="card-title">PMW</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Servo Motors
      </li>
    </ul></div>
  </div>
  </div>
    <div class="card border-warning mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>15</b></div>
  <div class="card-body text-warning">
        <h4 class="card-title">ICU and Watchdog</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Input Capture Unit
      </li>
         <li>
Watchdog Timer
      </li>
    </ul></div>
  </div>
  </div>
   </div>
    <div class="card13">
  <div class="card border-secondary mb-3"  style="width: 23rem;">
  <div class="card-header">Session <b>16</b></div>
  <div class="card-body text-secondary">
        <h4 class="card-title">UART Protocol</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
UART Drivers
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card border-danger mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>17</b></div>
  <div class="card-body text-danger">
        <h4 class="card-title">SPI Protocol</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
SPI Drivers
      </li>
    </ul></div>
  </div>
  </div>
    <div class="card border-warning mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>18</b></div>
  <div class="card-body text-warning">
        <h4 class="card-title">I2C Protocol</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
I2C Drivers
      </li>
    </ul></div>
  </div>
  </div>
   </div>
   <div class="card13">
  <div class="card border-secondary mb-3"  style="width: 23rem;">
  <div class="card-header">Session <b>19</b></div>
  <div class="card-body text-secondary">
        <h4 class="card-title">EEPROM</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
EEPROM Drivers
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card border-danger mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>20</b></div>
  <div class="card-body text-danger">
        <h4 class="card-title">Introduction to RTOS</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Introduction to RTOS
      </li>
    </ul></div>
  </div>
  </div>
    <div class="card border-warning mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>21</b></div>
  <div class="card-body text-warning">
        <h4 class="card-title">Using Free RTOS</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Using Free RTOS
      </li>
    </ul></div>
  </div>
  </div>
   </div>
</section>




<%- include("layouts/footer") %>