<%- include("layouts/header") %>
<section class="section2"  >
<div class="Materials">
  <h1 >Materials</h1>
</div>
<div class="cards123">
  <div class="card text-white bg-primary mb-3" style="width: 23rem;height:fit-content;">
  <div class="card-header"> <b>Course Code</b></div>
  <div class="card-body">
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      <a href='https://drive.google.com/drive/folders/1f2mbQc9p2ICmswrQ81aZiqF8OFx9wobc?usp=sharing' style="color:white">Session 1 code</a>
      </li>
      <li>
       <a href='https://drive.google.com/drive/folders/1JeNW7rJlQaImPx8thWUrjEOvJQz6YIj0?usp=sharing' style="color:white">Session 2 code</a>
      </li>
      <li>
      <a href='https://drive.google.com/drive/folders/1mi1Xk-MevphSD_MonkuJMa9zTbjiZAzy?usp=sharing' style="color:white">Session 3 code</a>
      </li>
      <li>
      <a href='https://drive.google.com/drive/folders/1hf9Kn8cuQIYaBuDCzFFxd1HFWz4iCAlq?usp=sharing' style="color:white">Session 4 code</a>
      </li>
       <li>
      <a href='https://drive.google.com/drive/folders/12Es0yGVRwVvW44w9rtD2Y7J2RSxxdEEx?usp=sharing' style="color:white">Session 5 code</a>
      </li>
      <li>
       <a href='https://drive.google.com/drive/folders/1AvKuC4OstutVpK1O-IS4DDXCvqNCtczd?usp=sharing' style="color:white">Session 6 code</a>
      </li>
      <li>
     <a href='https://drive.google.com/drive/folders/15qNtp7dUqTIUgiIlDuGk0TeeOmPy9qhR?usp=sharing' style="color:white">Session 7 code</a>
      </li>
      <li>
      <a href='https://drive.google.com/drive/folders/1Xdec-rotL7zAhuhX4fqNOfy_eVgExfnu?usp=sharing' style="color:white">Session 8 code</a>
      </li>
<li>
      <a href='https://drive.google.com/drive/folders/1i-XBAXFoFg5N2l1putefmVcAA0EzxClO?usp=sharing' style="color:white">Session 9 code</a>
      </li>
      <li>
       <a href='https://drive.google.com/drive/folders/1w-74CizHYaXwYi94AXb7ktTDN5tOX8LD?usp=sharing' style="color:white">Session 10 code</a>
      </li>
    </ul>
    </div>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="width: 23rem; height:fit-content;">
  <div class="card-header"> <b>Tasks</b></div>
  <div class="card-body">
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      <a href='https://drive.google.com/file/d/1GMqbJFd0rSupD0p1K02YEeToJmaImaCN/view?usp=sharing' style="color:white">Task 1</a>
      </li>
      <li>
        <a href='https://drive.google.com/file/d/1bVY5AE_8YmEa0B_bJhASB9cSHlZO1_wc/view?usp=sharing' style="color:white">Task 2</a>
      </li>
      <li>
       <a href='https://drive.google.com/file/d/1-Skhyk8aEvOs2nWElEfpIT6SOBQyxI12/view?usp=sharing' style="color:white">Task 3</a>
      </li>
      <li>
      <a href='https://drive.google.com/file/d/1IDvy1ZH8Fm0XXZ3wFWHziVrzXcwHK_Ds/view?usp=sharing' style="color:white">Task 4</a>
      </li>
    </ul></div>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="width: 23rem;height:fit-content;">
  <div class="card-header"><b>Final project</b></div>
  <div class="card-body">
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
<a href='https://drive.google.com/file/d/193mPdiMLCumkcnqWSfvZg262PtU3piK3/view?usp=sharing' style="color:white ">Final Project Description</a>
      </li>
    </ul></div>
  </div>
</div>
</div>

</section>

<%- include("layouts/footer") %>