* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar {
    position: fixed;
    /* height: 16%; */
    height: 10vh;
    width: 100vw;
    background-image: url(../images/bradcam.png);
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.nav-contents-right {
    left: 50vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-contents-right a {
    color: #aaa;
    text-decoration: none;
    margin: 0px 30px 0px 0px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-contents-right a:hover {
    color: rgb(0, 0, 0, 0.3);
}

.nav-contents {
    position: relative;
    /* width: 90vw; */
    right: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-contents a {
    margin: 0px 5px 0px 20px;
    text-decoration: none;
    color: #aaa;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-contents a:hover {
    color: rgb(0, 0, 0, 0.3);
}

.menu {
    cursor: pointer;
    color: #aaa;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.item:hover {
    color: rgb(0, 0, 0, 0.3);
}

.course-list {
    position: absolute;
    display: none;
    padding: 15px 10px 15px 10px;
    color: #000000;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.course-list a {
    font-size: 1.2rem;
    color: rgb(0, 0, 0, 0.8);
    margin: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.course-list a:hover {
    padding: 5px 5px 5px 5px;
    background-color: rgb(83, 44, 83, 0.5);
    border-radius: 5px;
}

.nav_bar img {
    margin-left: 5%;
    height: 100%;
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/bradcam2.png");
    width: 100%;
    height: fit-content;
    padding: 8vh 0 8vh;
}

.card-edit {
    align-items: center;
    justify-content: center;
    height: fit-content;
    /* height: 70vh; */
    margin: 100px 20px 20px 20px;
    padding: 20px 5px 10px 5px;
    min-width: 40vw;
    background-color: rgba(198, 197, 218, 0.7);
    border-radius: 5px;
}

.btn {
    margin: 3%;
    /* position: absolute; */
    /* top: 53%;
    left: 70%; */
    transform: translate(-35%, -50%);
    background: linear-gradient(to bottom, #3366cc 0%, #990099 100%);
}

#apply {
    margin: 1%;
    /* position: absolute; */
    /* top: 90%;
    left: 70%; */
    transform: translate(50px, 0);
    background: linear-gradient(to bottom, #3366cc 0%, #990099 100%);
}

ul {
    list-style-type: none;
}

.card-img-left {
    position: relative;
    margin-left: 37%;
    background-color: black;
}

.grey_img {
    position: absolute;
    opacity: 50%;
    left: 44.9%;
}

.grey {
    position: absolute;
    left: 20%;
}

#input_image {
    margin-top: 30px;
    margin-bottom: 3px;
    margin-left: 0;
    transition: 0.3s;
    border-bottom-color: rgb(111, 117, 117);
}

#input_name,
#input_bio {
    margin-left: 3px;
    transition: 0.3s;
    border-bottom-color: rgb(111, 117, 117);
    transition: 0.3s;
}


/* #camera {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #aaa;
    opacity: 90%;
    
} */


/* .card-img-left:focus+#camera {
    background-color: rgb(165, 30, 255);
} */

.footer {
    width: 100%;
    color: #aaa;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    padding: 20px 0px 10px;
    text-align: center;
    height: fit-content;
    background-image: url("../images/footer_bg.png");
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

footer h1 {
    margin: 0 0 10px 0;
    font-size: 1rem;
}

footer h4 {
    font-size: 1rem;
}

.contact-links {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-links i {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    color: #aaa;
    transition: 0.3s;
    margin-bottom: 10px;
}

.contact-links i:hover {
    color: rgb(116, 12, 185);
}

#alerty {
    background-color: blueviolet;
    font-size: 18.3px;
    font-family: Arial, 'Arial Narrow', 'Franklin Gothic Medium', sans-serif;
    flex-direction: row;
    border-radius: 2px;
    padding-left: 5px;
}

#close {
    float: right;
    display: inline-block;
    padding: 2px 5px;
    background-color: blueviolet;
    border: none;
    outline: none;
    transition: 0.3s;
}

#close:hover {
    float: right;
    display: inline-block;
    padding: 2px 5px;
    color: white;
}

#msg {
    background-color: blueviolet;
    border: none;
    outline: none;
    font-size: 17px;
}