* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    background-image: url(../images/bradcam.png);
    background-repeat: none;
    background-size: cover;
    width: 100%;
    z-index: 1;
}

.navbar img {
    height: 100px;
    width: 100px;
}

.Log-container {
    background-image: url("../images/bradcam2.png");
    /* background-image: url(../images/contacts.jpg); */
    background-size: cover;
    padding: 10% 0 5%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log {
    padding: 50px 40px 40px 40px;
    height: fit-content;
    /* background-color: rgba(45, 6, 66, 0.7); */
    background-color: rgba(198, 197, 218, 0.7);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.log h2 {
    /* color: rgb(93, 9, 126); */
    color: rgb(165, 30, 255);
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

input {
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    transition: 0.3s;
    padding-left: 30px;
}

input:focus {
    border-color: rgb(165, 30, 255);
    box-shadow: 0 0 8px 0 rgb(165, 30, 255);
}

.username {
    position: relative;
}

.username i {
    position: absolute;
    left: 0;
    top: 9px;
    padding: 9px 4px 17px;
    background-color: #aaa;
    color: #fff;
    border-radius: 4px 0 0 4px;
    transition: 0.3s;
}

.username input:focus+i {
    background-color: rgb(165, 30, 255);
}

.password i {
    position: absolute;
    left: 0;
    top: 9px;
    height: fit-content;
    padding: 9px 4px 17px;
    background-color: #aaa;
    color: #fff;
    border-radius: 4px 0 0 4px;
    transition: 0.3s;
}

.password {
    position: relative;
}

.password input:focus+i {
    background-color: rgb(165, 30, 255);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px;
    /* 
    margin-left: 20%; */
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
    background: linear-gradient(to bottom, #3366cc 0%, #990099 100%);
    color: white;
    transition: 0.3s;
}

#btn:hover {
    color: rgb(165, 30, 255);
    background-color: white;
}

small a {
    color: rgb(165, 30, 255);
    text-decoration: none;
}


/* #btn:hover {
    color: rgb(165, 30, 255);
    background-color: white;
} */

.footer {
    width: 100%;
    color: #aaa;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    padding: 20px 0px 10px;
    text-align: center;
    height: fit-content;
    background-image: url("../images/footer_bg.png");
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

footer h1 {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer h4 {
    font-size: 1rem;
}

.contact-links {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-links i {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    color: #aaa;
    transition: 0.3s;
    margin-bottom: 10px;
}

.contact-links i:hover {
    color: rgb(116, 12, 185);
}

#alerty {
    background-color: blueviolet;
    font-size: 18.3px;
    font-family: Arial, 'Arial Narrow', 'Franklin Gothic Medium', sans-serif;
    flex-direction: row;
    border-radius: 2px;
    padding-left: 5px;
}

#close {
    float: right;
    display: inline-block;
    padding: 2px 5px;
    background-color: blueviolet;
    border: none;
    outline: none;
    transition: 0.3s;
}

#close:hover {
    float: right;
    display: inline-block;
    padding: 2px 5px;
    color: white;
}

#msg {
    background-color: blueviolet;
    border: none;
    outline: none;
    font-size: 17px;
}