* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar {
    position: fixed;
    /* height: 16%; */
    height: 10vh;
    width: 100vw;
    background-image: url(../images/bradcam.png);
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.nav-contents-right {
    left: 50vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-contents-right a {
    color: #aaa;
    text-decoration: none;
    margin: 0px 30px 0px 0px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-contents-right a:hover {
    color: rgb(0, 0, 0, 0.3);
}

.nav-contents {
    position: relative;
    /* width: 90vw; */
    right: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-contents a {
    margin: 0px 5px 0px 20px;
    text-decoration: none;
    color: #aaa;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-contents a:hover {
    color: rgb(0, 0, 0, 0.3);
}

.menu {
    cursor: pointer;
    color: #aaa;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.item:hover {
    color: rgb(0, 0, 0, 0.3);
}

.course-list {
    position: absolute;
    display: none;
    padding: 15px 10px 15px 10px;
    color: #000000;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.course-list a {
    font-size: 1.2rem;
    color: rgb(0, 0, 0, 0.8);
    margin: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.course-list a:hover {
    padding: 5px 5px 5px 5px;
    background-color: rgb(83, 44, 83, 0.5);
    border-radius: 5px;
}

.nav_bar img {
    margin-left: 5%;
    height: 100%;
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/bradcam2.png");
    width: 100%;
    height: 90vh;
}

.card {
    height: fit-content;
    margin: 20px 20px 20px 20px;
    padding: 10px 5px 10px 5px;
    min-width: 40vw;
    background-color: rgba(198, 197, 218, 0.7);
}

.btn {
    background: linear-gradient(to bottom, #3366cc 0%, #990099 100%);
}

ul {
    list-style-type: none;
}

#tl {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1rem;
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient( #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
    background-size: 57%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.card-title {
    background: linear-gradient(to right, #467088 10%, #3a4688 33.333%, #8d1caf 40%);
    background-size: 57%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tl:hover {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1rem;
    background: #93b349;
    background-color: #74ca42;
    background: conic-gradient( #b18788 16.666%, #312f2f 16.666%, #968d8a 33.333%, #F18F43 33.333%, #5a2903 50%, #2f3a0a 50%, #495e07 66.666%, #2a3a5a 66.666%, #001e5e 83.333%, #46153f 83.333%);
    background-size: 57%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.footer {
    width: 100%;
    color: #aaa;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    padding: 20px 0px 10px;
    text-align: center;
    height: fit-content;
    background-image: url("../images/footer_bg.png");
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

footer h1 {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer h4 {
    font-size: 1rem;
}

.contact-links {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-links i {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    color: #aaa;
    transition: 0.3s;
    margin-bottom: 10px;
}

.contact-links i:hover {
    color: rgb(116, 12, 185);
}

#alerty {
    background-color: blueviolet;
    font-size: 18.3px;
    font-family: Arial, 'Arial Narrow', 'Franklin Gothic Medium', sans-serif;
    flex-direction: row;
    border-radius: 2px;
    padding-left: 5px;
}

#close {
    float: right;
    display: inline-block;
    padding: 2px 5px;
    background-color: blueviolet;
    border: none;
    outline: none;
    transition: 0.3s;
}

#close:hover {
    float: right;
    display: inline-block;
    padding: 2px 5px;
    color: white;
}

#msg {
    background-color: blueviolet;
    border: none;
    outline: none;
    font-size: 17px;
}