* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar {
    position: fixed;
    /* height: 16%; */
    height: 10vh;
    width: 100vw;
    background-image: url(../images/bradcam.png);
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.nav-contents-right {
    position: relative;
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-contents-right a {
    /* color: #f9f9f9; */
    color: #aaa;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-contents-right a:hover {
    color: rgb(0, 0, 0, 0.3);
}

.nav-contents {
    position: relative;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-contents a {
    margin: 0px 5px 0px 20px;
    text-decoration: none;
    color: #aaa;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-contents a:hover {
    color: rgb(0, 0, 0, 0.3);
}

.menu {
    cursor: pointer;
    color: #aaa;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/contacts.jpg");
    background-size: cover;
}

a {
    color: rgb(165, 30, 255);
}

.item:hover {
    color: rgb(0, 0, 0, 0.3);
}

.course-list {
    position: absolute;
    display: none;
    padding: 15px 10px 15px 10px;
    color: #000000;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.course-list a {
    font-size: 1.2rem;
    color: rgb(0, 0, 0, 0.8);
    margin: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.course-list a:hover {
    padding: 5px 5px 5px 5px;
    background-color: rgb(83, 44, 83, 0.5);
    border-radius: 5px;
}

.nav_bar img {
    margin-left: 5%;
    height: 100%;
}

.Reg-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg {
    position: relative;
    padding: 50px 40px 40px 40px;
    margin-top: 10%;
    margin-bottom: 3%;
    height: 60vh;
    /* width: 25vw; */
    background-color: rgba(45, 6, 66, 0.7);
    /* background-color: white; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.reg h2 {
    color: rgb(165, 30, 255);
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

small {
    color: #aaa;
}

small a {
    text-decoration: none;
}

.footer {
    position: absolute;
    width: 100%;
    color: #aaa;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    padding: 20px;
    text-align: center;
    height: fit-content;
    background-image: url("../images/footer_bg.png");
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #aaa;
    margin-bottom: 10px;
}

.contact-links {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
}

form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.username-div,
.email,
.password,
.conf-password {
    position: relative;
    overflow: hidden;
    /* top: 50%; 
    left: 50%; */
}

input {
    background-color: rgba(144, 101, 168, 0.5);
    transition: all 0.3s ease;
    border: none;
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 5px;
    padding-top: 7.5%;
    font-size: 17px;
    padding-bottom: 3px;
    border-radius: 3px;
    border-bottom: 2px solid grey;
}

label {
    /* font-size: small; */
    /* color: grey; */
    color: #aaa;
    position: absolute;
    bottom: 13%;
    height: 36px;
    padding-left: 5px;
    pointer-events: none;
    border-bottom: 1px solid grey;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
}


/* .label-name::after {
    content: "";
    position: absolute;
    height: 38px;
    border-bottom: 100px solid rgb(60, 158, 14);
    transform: translateX(-50%);
    transition: transform all 0.3s ease;
} */

span {
    height: 40px;
    position: absolute;
    bottom: 7px;
    left: 5px;
    transition: all 0.3s ease;
}


/* #username:focus + .label-name .span-name,
#username:valid + .label-name .span-name {
    transform: translateY(-50%);
    top: 0%;
}

#username:focus + .label-name::after, 
#username:valid + .label-name::after{
    transform: translateX(0%);
} */


/* 
label{
    font-size: small;
    color: grey;
    position: absolute; 
    bottom: 0%;
    left: 0px;
    top: -10%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(7, 7, 7);
}
input {
    width: 100%;
    border: none;
    outline: none;
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
   font-size: 15px;
   margin-top: 5px;
   color: grey;
}
label::after{
    content: "";
    position: absolute;
    border-bottom: 1px solid rgb(60, 49, 160);
} */


/* input+label{
    padding-left: 5%;
    font-size: 1.2em;
    margin-top: -1.2em;
    display: block;
    pointer-events: none;
}
input+label::before{
    content: attr(value);
    color: #898989;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
input:focus{
    border-color: rgb(165, 30, 255);
}
input:focus+label::before{
    color: rgb(165, 30, 255);
    transform: translate(0,-1.5em) scale(0.7,0.7);
} */

select {
    width: 292px;
    height: 40px;
    font-size: 0.9em;
    /* color: rgb(128, 128, 128); */
    color: #aaa;
    /* padding: 8px; */
    outline: none;
    border: none;
    /* background-color: rgba(103, 71, 121, 0.5); */
    background-color: rgba(112, 83, 129, 0.5);
    left: 5px;
    border-radius: 3px;
    border-bottom: 2px solid grey;
}

option {
    color: #aaa;
    background: rgba(103, 71, 121, 0.7);
}

#btn {
    /* margin-left: 70px; */
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: rgb(165, 30, 255);
    color: white;
    transition: 0.3s;
}

#btn:hover {
    color: rgb(165, 30, 255);
    background-color: white;
}


/* 
<<<<<<< HEAD
#btn:hover {
=======
small {
    color: #aaa;
}

small a {
    color: rgb(165, 30, 255);
}

button:hover {
>>>>>>> 89d6050d7170c69aa3c6dedbabbafae5a8db0343
    color: rgb(165, 30, 255);
    background-color: white;
} */

.contact-links i {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    color: #aaa;
    transition: 0.3s;
    margin-bottom: 10px;
}

.contact-links i:hover {
    color: rgb(116, 12, 185);
}