* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(49, 49, 49);
  }
  
  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 15px 0;
  }
  
  .card {
    min-width: 65%;
  }