
body {
    background-image: url("../images/Photography.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
   
  main {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh; /*  to take the whole page */
    background-color: rgba(137, 219, 192, 0.3);
    /* position: relative; */
  }

  img{
      width: 40%;
      height: 40%;
      /* background-color: aquamarine; */
  }
  div{
    /* position: absolute; */
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
  }
  button{
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: large;
    text-decoration:  rgb(16, 104, 75);
    cursor: pointer;
    
  }
  h1,h3{
      color: rgb(7, 75, 52);
  }