

</main>
</body>
<footer class="footer">
    <h1>Follow us on </h1>
    <div class="contact-links">
        <a href="/views/Home.ejs"><i class="fa fa-facebook fa-lg fa-fw" aria-hidden="true"></i></a>
        <a href="/views/Home.ejs"><i class="fa fa-twitter fa-lg fa-fw" aria-hidden="true"></i></a>
        <a href="/views/Home.ejs"><i class="fa fa-instagram fa-lg fa-fw" aria-hidden="true"></i> </a>
        <a href="/views/Home.ejs"><i class="fa fa-youtube-play fa-lg fa-fw" aria-hidden="true"></i> </a>
    </div>
    <h4>Copyright © 2020 C-Craft | All Rights Reserved. | </h4>
</footer>

<script src="/js/jquery.nicescroll.min.js">   
</script>
<script src="/js/wow.min.js "></script>
<script src="/js/footer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.0/jquery.nicescroll.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>


<script>
    
    new WOW().init(); 
    $("body").niceScroll({
    cursorcolor:"aquamarine",
    cursorwidth:"16px"
});
$("html").mouseover(function() {
    console.log('bau');
    var miao = $("html").getNiceScroll().resize();
    console.log(miao);
});
$("#ascrail2000").niceScroll({
   cursorwidth:3,
  cursoropacitymin:0.4,
  cursorcolor:'rgb(240, 159, 5)',
  cursorborder:'none',
  cursorborderradius:4,
  autohidemode:'leave'});
</script>

</html>