<%- include("layouts/header") %>
<section class="section2"  >
<div class="Materials">
  <h1 >Materials</h1>
</div>
<div class="cards123">
  <div class="card text-white bg-primary mb-3" style="width: 23rem;height:fit-content;">
  <div class="card-header"> <b>Course Code</b></div>
  <div class="card-body">
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      Session 1 code
      </li>
      <li>
        Session 1 code
      </li>
      <li>
      Session 1 code
      </li>
      <li>
       Session 1 code
      </li>
       <li>
      Session 1 code
      </li>
      <li>
        Session 1 code
      </li>
      <li>
      Session 1 code
      </li>
      <li>
       Session 1 code
      </li>
<li>
      Session 1 code
      </li>
      <li>
       Session 1 code
      </li>
    </ul>
    </div>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="width: 23rem; height:fit-content;">
  <div class="card-header"> <b>Tasks</b></div>
  <div class="card-body">
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      Task 1
      </li>
      <li>
        Task 1
      </li>
      <li>
       Task 1
      </li>
      <li>
       Task 1
      </li>
      <li>
      Task 1
      </li>
      <li>
       Task 1
      </li>
    </ul></div>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="width: 23rem;height:fit-content;">
  <div class="card-header"><b>Final project</b></div>
  <div class="card-body">
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
project description
      </li>
    </ul></div>
  </div>
</div>
</div>

</section>

<%- include("layouts/footer") %>