<%- include("layouts/header") %>
<section class="section1">
    <div class="card mb-3">
  <div class="row no-gutters">

      <img src="/images/courses\web\web.png" class="card-img" alt="">

    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Web Development</h2>
        <div class="card-text">
        <ul>    
        <li>
        <big>Instructor :</big> 
        <ul>
            <li> <img src="/images/instructors/Abdullah Adel.jpg" alt=""></li>
             <li class="card-text" style="display:inline">Abdullah Adel</li>
        </ul>
        </li>
        </ul>
        <ul>
        <li style="margin-top:10px"><big>Start date : </big>22/6/2020 </li>
        <li style="margin-top:10px" >  <big>End date : </big>5/8/2020 </li>
        <li style="margin-top:10px"><big>Number of Sessions : </big>13 </li>
        <li style="margin-top:10px"> <big>Schedule : </big>Sunday and Wednesday at 5 PM  </li>
        
        </ul>
        <button type="" id="enroll"> Enroll</button>
        </div>
   
      </div>
    </div>
  </div>
</div>
</section>
<section class="section2">
<div class="Syllabus">
  <h1>Syllabus</h1>
</div>
<div class="cards123">
  <div class="card text-white bg-primary mb-3" style="width: 23rem;height: 18rem;">
  <div class="card-header">Session <b>1</b></div>
  <div class="card-body">
    <h4 class="card-title">HTML5</h4>
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      What is HTML?
      </li>
      <li>
       Basic HTML elements
      </li>
      <li>
      Structure of an element
      </li>
      <li>
      Examples
      </li>
    </ul>
    </div>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="width: 23rem; height: 18rem;">
  <div class="card-header">Session <b>2</b></div>
  <div class="card-body">
    <h4 class="card-title">CSS3 - Part 1</h4>
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      What is CSS?
      </li>
      <li>
       CSS structure
      </li>
      <li>
      CSS selectors
      </li>
      <li>
      Basic CSS properties
      </li>
      <li>
      Examples
      </li>
      <li>
      Where to write CSS?
      </li>
    </ul></div>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="width: 23rem;height: 18rem;">
  <div class="card-header">Session <b>3</b></div>
  <div class="card-body">
        <h4 class="card-title">CSS3 - Part 2</h4>
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
Positioning in CSS3 and its types
      </li>
      <li>
Flexbox and how to use it
      </li>
      <li>
Navigation bar example
      </li>

    </ul></div>
  </div>
</div>
</div>
<div class="cards456">
  <div class="card text-white bg-danger mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>4</b></div>
  <div class="card-body">
        <h4 class="card-title">JavaScript - Part 1</h4>
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      What is JavaScript?
      </li>
      <li>
Syntax of JavaScript
      </li>
      <li>
Where to write JavaScript
      </li>
      <li>
      Important topics in JavaScript
      </li>
      <li>
    DOM manipulation with JavaScript
      </li>
      <li>
Examples on DOM manipulation
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card text-white bg-warning mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>5</b></div>
  <div class="card-body">
        <h4 class="card-title">JavaScript - Part 2</h4>
    <div class="card-text">
    <ul  style="list-style: disc;">
      <li>
      Strings and their methods
      </li>
      <li>
Numbers and their methods
      </li>
      <li>
Arrays and their methods
      </li>
      <li>
Objects and their methods
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card text-white bg-info mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>6</b></div>
  <div class="card-body">
        <h4 class="card-title">JavaScript - Part 3</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Synchronous vs Asynchronous code
      </li>
      <li>
Callback functions
      </li>
      <li>
Promises
      </li>
      <li>
Async/await
      </li>
    </ul></div>
  </div>
  </div>
  </div>
<div class="cards789">
  <div class="card text-white bg-info mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>7</b></div>
  <div class="card-body">
        <h4 class="card-title">Node.js - Part 1</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Difference between Frontend & Backend
      </li>
      <li>
How does Backend work
      </li>
      <li>
What is HTTP request
      </li>
      <li>
Types of HTTP request methods
      </li>
      <li>
What is Node.js
      </li>
      <li>
How does Node.js work
      </li>
      <li>
What is npm
      </li>
      <li>
What is Express.js
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card bg-light mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>8</b></div>
  <div class="card-body">
        <h4 class="card-title">Node.js - Part 2</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
What are the views?
      </li>
      <li>
How to convert HTML files to templates?
      </li>
      <li>
Using routes
      </li>
      <li>
Handling requests with GET method
      </li>
    </ul></div>
  </div>
  </div>
    <div class="card text-white bg-dark mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>9</b></div>
  <div class="card-body">
        <h4 class="card-title">Node.js - Part 3</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
Handling requests with PORT method
      </li>
      <li>
How to get data from forms?
      </li>
      <li>
Creating models with mongoose
      </li>
      <li>
Storing data in a database with MongoDB
      </li>
    </ul></div>
  </div>
  </div>
  </div>
  <div class="cards10112">
  <div class="card border-primary mb-3"  style="width: 23rem;">
  <div class="card-header">Session <b>10</b></div>
  <div class="card-body text-primary">
        <h4 class="card-title">Node.js - Part 4</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
How to validate data and display errors in the views?
      </li>
      <li>
How to display flash messages?
      </li>
      <li>
Encrypting passwords with bcryptjs
      </li>
      <li>
Getting data from the database
      </li>
    </ul></div>
  </div>
  </div>
  <div class="card border-success mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>11</b></div>
  <div class="card-body text-success">
        <h4 class="card-title">Project Description</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
All about the project
      </li>
    </ul></div>
  </div>
  </div>
    <div class="card border-info mb-3" style="width: 23rem;">
  <div class="card-header">Session <b>12</b></div>
  <div class="card-body text-info">
        <h4 class="card-title">CMD</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
What is the command line?
      </li>
      <li>
Why do we use the command line?
      </li>
      <li>
Understanding the paths and directories
      </li>
      <li>
Basic commands examples
      </li>
    </ul></div>
  </div>
  </div>
  </div>
  <div class="card13">
  <div class="card border-light mb-3"  style="width: 23rem;">
  <div class="card-header">Session <b>13</b></div>
  <div class="card-body">
        <h4 class="card-title">Github</h4>
    <div class="card-text">
    <ul style="list-style: disc;">
    <li>
What is Github?
      </li>
      <li>
How to use Github for version control?
      </li>
      <li>
Essential commands for git
      </li>
      <li>
Learning about pull requests
      </li>
      <li>Outro</li>
    </ul></div>
  </div>
  </div>
   </div>
</section>

















<%- include("layouts/footer") %>