<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

   <link rel="stylesheet" href="/css/<%= css %>.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="icon" href="/images/logo7-removebg-preview.png">
    <title><%= title %></title>
</head>

<nav class="nav_bar">
    <a href="Home"> <img src="/images/logo7-removebg-preview.png" alt="logo"></a>
    <div class="nav-contents">
        <div class="menu">
            <div class="item" onclick="toggle()">Our Courses</div>
            <div class="course-list">
                <a href="/Embedded">Embedded System</a>
                <a href="/Machine">Machine Learning</a>
                <a href="/Web">Web Development</a>
                <a href="/Graphics">3D Graphics Design</a>
            </div>
        </div>
        <a href="contact">Contact us</a>

    </div>
    <div class="nav-contents-right">

    <% if (isAuthenticatedd){ %>

        <a href="/user-profile/<%= user.username %>">My Profile</a>
        <!-- <a href="'/user-profile/'+ user.username">My Profile</a> -->
        <a href="/logout">Log Out</a>
           
    <% } else{ %> 

        <a href="/Register">Register</a>
        <a href="/login">Log In</a>

    <% }%>

    </div>

</nav>

<body>
    <main>